@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#calendar {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    height: 600px; /* Assure une hauteur suffisante */
}
